<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<style>
    p{
    border-top:1px solid #000;
    padding: 2rem;
    }
    h3 {
        border-top: 1px solid rgb(138, 128, 128);
        padding: 0.5rem;
        color: blueviolet;
    }
</style>


<body>

    <h3>Bonjour <span> {{prenom}}, </span> </h3> <br>
    <p>
        
        Nous vous remercions pour votre commande sur le site {{shopNom}}. Malheuresement nous avons le regret de vous informer que votre paiement par virement SEPA n'a pa pu être validé et a été rejeté ! Vous pouvez effectuer un nouvel achat et utiliser un autre moyen de paiement si vous le souhaitez.<br>
        Votre commande effectué le {{dateAchat}} avec pour numéro {{refCommande}} a été annulé sans que vous soyez débité. <br>
        Vous pouvez suivre l’état de votre commande ou modifier
        celle-ci dans
        Vos commandes sur votre espace personnel.<br>
        <br>
        Vous retrouverez ci-dessous un résumé des informations de votre commande annulée : <br>
        <br>
        Commande N°{{refCommande}} <br>
        Statut de votre commande : {{statutCommande}} <br>
        Votre mode de livraison : {{nomTransporteur}}<br>
        {{#if commentaire }}
        Votre commentaire : "{{commentaire}}" <br>
        {{else}}
        {{/if}}
        Montant total de votre commande : {{montant}}€ <br>
        {{#if marqueCB }}
        Moyen de paiement selectionné : {{paiementType}} {{marqueCB}} <br>
        {{else}}
        {{/if}}
        {{#if codeBanque}}
        Moyen de paiement selectionné : {{paiementType}}, code banque : {{codeBanque}} <br>
        {{else}}
        {{/if}}
        Vos produit commandés :
        {{#each dataArticles}}
        <li>{{this.produit}}, {{this.prixHTAvecReduc}}€, quantité: {{this.quantite}}, <a href="{{this.image}}" >image du produit</a> ✅ </li>
        {{/each}}
        <br>
        Nous espérons vous revoir bientôt.</p>

</body>

</html>

{{!-- pour la syntaxe et les opérateur de conditions =>  https://www.npmjs.com/package/handlebars-helpers --}}