<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<style>
    p{
    border-top:1px solid #000;
    padding: 2rem;
    }
    h3 {
        border-top: 1px solid rgb(138, 128, 128);
        padding: 0.5rem;
        color: blueviolet;
    }
</style>


<body>

    <h3>Bonjour <span> {{name}}, </span> </h3> <br>
    <p>
        {{#if message}}
        {{message}}<br>
        {{else}}
        {{/if}}
        <br>
        {{message2}} <br>
        <br>
        {{#if message3}}
        {{message3}}<br>
        {{else}}
        {{/if}}
        <br>
        {{#if message4}}
        {{message4}}<br>
        {{else}}
        {{/if}}
        </p>

</body>

</html>

{{!-- pour la syntaxe et les opérateur de conditions =>  https://www.npmjs.com/package/handlebars-helpers --}}